In [1]:
pip install mysql.connector

Requirement already satisfied: mysql.connector in c:\users\votri\appdata\local\programs\python\python38\lib\site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import mysql.connector

In [3]:
data = pd.read_csv("linkedin-jobs.csv")
data

,Title,Company,Location,Apply,Job Description,Date,Company Link
0,Marketing Communications Coordinator,"JCDecaux North America, Inc.","New York, NY",https://www.linkedin.com/jobs/view/marketing-c...,About JCDecauxJCDecaux is the #1 outdoor adver...,2023-06-22,https://www.linkedin.com/company/jcdecaux-n.a....
1,Title,Company,Location,Apply,Job Description,Date,Company Link
2,Marketing Assistant,Los Angeles Philharmonic,"Los Angeles, CA",https://www.linkedin.com/jobs/view/marketing-a...,Job DescriptionThe Los Angeles Philharmonic As...,2023-06-23,https://www.linkedin.com/company/los-angeles-p...
3,"Assistant, Marketing - Black Music",Warner Music Group,"New York, NY",https://www.linkedin.com/jobs/view/assistant-m...,"Job Description:At Warner Music Group, we’re a...",2023-06-28,https://www.linkedin.com/company/warner-music-...
4,"Associate, Marketing",Grubhub,"New York, NY",https://www.linkedin.com/jobs/view/associate-m...,About The OpportunityWe’re all about connectin...,2023-06-21,https://www.linkedin.com/company/grubhub-seaml...
...,...,...,...,...,...,...,...
990,Packer (8am-8pm),Genpak,"Middletown, NY",https://www.linkedin.com/jobs/view/packer-8am-...,NaN,NaN,https://www.linkedin.com/company/genpak?trk=pu...
991,Junior Marketing Representative,New Age Marketing Inc,"Belmont, NC",https://www.linkedin.com/jobs/view/junior-mark...,Our management team is looking to fill this po...,2023-06-28,https://www.linkedin.com/company/new-age-marke...
992,Human Resources Coordinator,Brightland Homes,"Addison, TX",https://www.linkedin.com/jobs/view/human-resou...,NaN,NaN,https://www.linkedin.com/company/brightlandhom...
993,Client Service Representative,Mars Veterinary Health,"Fort Lauderdale, FL",https://www.linkedin.com/jobs/view/client-serv...,NaN,2023-06-11,https://www.linkedin.com/company/mars-veterina...
994,Business Development & Marketing Coordinator,Foley & Lardner LLP,"San Diego, CA",https://www.linkedin.com/jobs/view/business-de...,NaN,2023-06-22,https://www.linkedin.com/company/foley-&-lardn...

In [4]:
data = data.fillna('')

In [13]:
#Connect to SQL Server
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "job_scraping",
    charset='utf8mb4'
)

cursor = mydb.cursor()

# cursor.execute('''
#                 CREATE TABLE Marketing_Job (
#                     Job_title varchar(200),
#                     Company_name varchar(100),
#                     Location varchar(100),
#                     Apply varchar(300),
#                     Job_description text,
#                     Date varchar(50),
#                     Company_link varchar(300)
#                 )
# ''')

query = "INSERT INTO Marketing_Job (Job_title, Company_name, Location, Apply, Job_description, Date, Company_link) VALUES (%s, %s, %s, %s, %s, %s, %s)"

# Iterate over each row in the DataFrame and insert the values into the table
for _, row in data.iterrows():
    values = (
        row['Title'],
        row['Company'],
        row['Location'],
        row['Apply'],
        row['Job Description'],
        row['Date'],
        row['Company Link']
    )
    cursor.execute(query, values)

# Commit the changes to the database
mydb.commit()

# Close the cursor and database connection
cursor.close()
mydb.close()